<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link   href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> 
    <title>Document</title>
</head>
<body>
    <header>
        <div class="cabecera">
         <div class="logo"> <img src="images/logo-mercado-liebre.svg" alt="logo"  /> </div>
        
      <div class="form" action="#" method="GET"> 
  <div>
           <input class="buscador"  type="search" name="busqueda" placeholder="Buscar productos, marcas ...">
           </div>
      
           <div class="submit"><i class="fa fa-search"></i></div>
          </div> 
        
        <p class="tarjeta"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</p>
      
        </div>
        <nav class="navegador">
          <ul class="lista">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>
          
          <ul class="lista">
            <li><a href="/register">Crea tu cuenta <i class="far fa-id-card"></i> </a></li>
            <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
          </ul>
        </nav>
        <div class="burger-menu">
          <i class="fas fa-bars"></i>
          </div>
      </header>
      <main class="main-register">
         <form class="form-register" action="" method="post">
           <div class="div_form_container">
               <h3>REGISTRATE</h3>
<div class="div_form_group">
            <label for="Nombre" class="form_label">Nombre y Apellido:</label>
            <input type="text" name="nombre" id="Nombre" class="form_input" required>
        </div>
        <div class="div_form_group">
            <label for="usuario"class="form_label"> Usuario:</label>
             <input type="text" name="usuario" id="usuario" class="form_input"  title="ingresa de 4 a 8 caracteres tipo letra" required>

        
            </div>
            <div class="div_form_group">
            <label for="domicilio" class="form_label">Domicilio:</label>
            <input type="text" name="domicilio" id="domicilio" class="form_input" required >
        
            </div>
            <div class="div_form_group">
            <label for="perfil" class="form_label">Perfil de usuario:</label>
            <select name="perfil" id="perfil" >
                <option value="comprador">Comprador</option>
                <option value="vendedor">Vendedor</option>

            </select>
            </div>
        
         
            <div class="div_form_group">
            <label for="categorias" class="form_label">Categorias de interes:</label>
            <br>
            
                <input type="radio" value="electro">Electro</input>
                <br>
                <input type="radio" value="moda">Moda</input>
                <br>
                <input type="radio"value="hogar">Hogar</input>
                <br>
                <input type="radio" value="jugueteria">Juguetería</input>
                <br>
                <input type="radio" value="vidasana">Vida sana</input>

            
        </div>
        
        <div class="div_form_group">
            <label for="nacimiento" class="form_label">Fecha de nacimiento:</label>
            <input type="date" name="nacimiento" id="nacimiento" class="form_input" required>
        </div>
        <div class="div_form_group">
            <label for="foto"class="form_label">Foto:</label>
            <input type="file" name="foto" id="foto" class="form_input" accept=".jpg,png">
        </div>
        <div class="div_form_group">
            <label for="contraseña" class="form_label">Contraseña:</label>
            <input type="password" name="contraseña" class="form_input" id="contraseña"  title="ingresa de 4 a 8 caracteres tipo letra">
        </div>
        <div class="div_form_group">
            <label for="ccontraseña" class="form_label">Confirmar contraseña:</label>
            <input type="password" name="ccontraseña" id="ccontraseña" class="form_input"  title="ingresa de 4 a 8 caracteres tipo letra">
        </div>
            <br>
            <button class="button-register" type="button"><a class="enlace" href="/index"> ENVIAR </a></button>
            <button class="button-register" type="reset">BORRAR</button>
            
        </div> 
         </form> 
      </main>
      <footer>
        <div class="futer-flex">
            <div class="futer">
            <i class="fa-solid fa-credit-card"></i>
    <h3>Pagá con tarjeta o en efectivo</h3>
            <p>
                
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro! 
            </p>
            </div>
            <div class="futer">
            <i class="fa-solid fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
           <p> 
    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="futer">
    <i class="fa-solid fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
                <p>
                    
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@. 
                </p>
            </div>
          </div>
            <div class="futer-copyrigth">
                <h3>
                    Copyright © 1999-2020 MercadoLiebre S.R.L.  
                </h3>
                    
            </div>
    
            
        
      </footer>
    
</body>
</html>